In [156]:
import pandas as pd
from datetime import datetime, timedelta
import os

In [157]:
# Data loading
path = r'../data/raw/data_raw.csv'
alzheimer_df_raw = pd.read_csv(path)

## Modeling the Data Frame

In [158]:
alzheimer_df = alzheimer_df_raw.copy()

#Filtering only the rows about alzheimers disease
alzheimer_df = alzheimer_df[alzheimer_df["Padecimiento"].str.startswith("Enfermedad de Alzheimer", na=False)]

#cleaning innecesary columns
alzheimer_df = alzheimer_df.drop(["Pag.", "Cuadro ", "No_01", "No_02", "No_03", "No_04", "Ax_002", "Padecimiento"], axis=1)

# replacing "-" by "0"
alzheimer_df["Valor"] = alzheimer_df["Valor"].replace("-", "0")

# converting to numeric data type
alzheimer_df["Valor"] = pd.to_numeric(alzheimer_df["Valor"], errors="coerce")

# Converting "Semana" to a numeric data type
alzheimer_df["Semana"] = alzheimer_df["Semana"].str.replace("sem", "", regex=False).astype(int)

# replacing Entidad name 
alzheimer_df["Entidad"] = alzheimer_df["Entidad"].replace("Distrito Federal", "Ciudad de México")

# Removing redundant data

# Removing rows with "Acum." in "Ax_003" column
alzheimer_df = alzheimer_df[alzheimer_df["Ax_003"] != "Acum."]

# Removing rows with "TOTAL" in "Entidad" column
alzheimer_df = alzheimer_df[alzheimer_df["Entidad"] != "TOTAL"]

# Renaming columns
alzheimer_df = alzheimer_df.rename(columns={'Año': 'Year', 'Semana': 'Week', 'Entidad': 'Entity', 'Ax_001': 'Epi_Year', 'Valor': 'Value',})

In [159]:
alzheimer_df.head()

    Year  Week           Entity  Epi_Year Ax_003  Value
6   2014     2   Aguascalientes      2014   Sem.    0.0
7   2014     2   Aguascalientes      2014      H    0.0
8   2014     2   Aguascalientes      2014      M    0.0
15  2014     2  Baja California      2014   Sem.    0.0
16  2014     2  Baja California      2014      H    0.0

In [160]:
# Missing values
nan_counts = alzheimer_df.isna().sum()
columnas_con_nan = nan_counts[nan_counts > 0]
columnas_con_nan_ordenadas = columnas_con_nan.sort_values(ascending=False)
print(columnas_con_nan_ordenadas)

Value    1
dtype: int64

In [161]:
alzheimer_df.isna().sum()

Year        0
Week        0
Entity      0
Epi_Year    0
Ax_003      0
Value       1
dtype: int64

In [162]:
alzheimer_df[alzheimer_df['Value'].isna()]

       Year  Week     Entity  Epi_Year Ax_003  Value
55601  2016    50  Querétaro      2016   Sem.    NaN

In [163]:
alzheimer_df.loc[55601, "Value"] = 0 # Imputing missing value with 0 manually infered by the week data

In [164]:
# Pivot the DataFrame to have separate columns for each type of count in 'Ax_003'
df_wide = alzheimer_df.pivot_table(
    index=['Year', 'Week', 'Entity', 'Epi_Year'],
    columns='Ax_003',
    values='Value'
).reset_index()

df_wide.columns.name = None

df_wide.sort_values(by=['Entity', 'Year', 'Week'], inplace=True)
df_wide = df_wide.rename(columns={'H':'M', 'M':'F', 'Sem.':'New_Cases_Week'})

In [165]:
# Create Date column (Monday of each week ISO 8601)
df_wide['Date'] = pd.to_datetime(df_wide['Year'].astype(str) + '-' + 
                             df_wide['Week'].astype(str) + '-1', 
                             format='%G-%V-%u')

# Group week 53/2014 with week 1/2015 by Entity
agg_dict = {
    'M': 'last',
    'F': 'last',
    'New_Cases_Week': 'sum',
    'Year': 'first',
    'Week': 'first',
    'Epi_Year': 'first'
}

df_wide = df_wide.groupby(['Entity', 'Date'], as_index=False).agg(agg_dict)

df_wide = df_wide.sort_values(['Entity', 'Year', 'Week', 'Date']).reset_index(drop=True)
df_wide = df_wide[['Year', 'Week', 'Date', 'Entity', 'Epi_Year', 'M', 'F', 'New_Cases_Week']]

# Check for repeated dates by Entity
duplicates = df_wide[df_wide.duplicated(subset=['Entity', 'Date'], keep=False)]

if duplicates.empty:
    print("✓ There are no repeated dates per Entity")
else:
    print(f"✗ Found {len(duplicates)} rows with repeated dates:")
    print(duplicates[['Year', 'Week', 'Date', 'Entity']])

✓ There are no repeated dates per Entity

In [ ]:
output_folder = '../data/interim/'
filename = 'data_v2_English.csv'
route = os.path.join(output_folder, filename)


# df_wide.to_csv(
#     route,
#     index=False,
#     encoding='utf-8'
# )

print(df_wide.info())
df_wide.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18272 entries, 0 to 18271
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            18272 non-null  int64
 1   Week            18272 non-null  int64
 2   Date            18272 non-null  datetime64[ns]
 3   Entity          18272 non-null  object
 4   Epi_Year        18272 non-null  int64
 5   M               18272 non-null  float64
 6   F               18272 non-null  float64
 7   New_Cases_Week  18272 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 1.1+ MB
None

   Year  Week       Date          Entity  Epi_Year    M    F  New_Cases_Week
0  2014     2 2014-01-06  Aguascalientes      2014  0.0  0.0             0.0
1  2014     3 2014-01-13  Aguascalientes      2014  0.0  0.0             0.0
2  2014     4 2014-01-20  Aguascalientes      2014  0.0  0.0             0.0
3  2014     5 2014-01-27  Aguascalientes      2014  0.0  0.0             0.0
4  2014     6 2014-02-03  Aguascalientes      2014  0.0  0.0             0.0